*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

nav, .wraper{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: none;
    background: #282a35 ; 
  }  
 .logo img{
     display: flex;
     justify-content: center;
    
 }  
 img{
     width: 80%;
 }

.btn .nav-btn{
    display: flex;
    justify-content: flex-end;
    appearance: button;
    background-color: #0A1E25;
    background-image: none;
    background-color: none;
    padding: 1rem 2rem 0.5rem 2rem;
    margin-right: 30px;
    border: 1px solid white;
    border-radius: 0.375rem;
    color: white;
    font-family: Eudoxus Sans;
    font-size: 0.857rem;
    font-weight: 700;
    line-height: 1.25rem; 
    text-transform: capitalize;
    text-align: center;
    cursor: pointer; 

 } 
 
.btn .nav-btn:hover{
    opacity: 1;
   
} 
    
header{
    
background: #0A1E25; 
width: 100%;
height: 100%;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
header .header-h1{
color: #F5F5EB;
padding: 5rem 2rem;
font-family: Reckless Neue;
font-size: 74px;
font-weight: 600;
line-height: 70px;
text-align: left; 

}
header .header-p{
color: #F5F5EB;
padding: 20px;
font-family: Reckless Neue;
font-size: 24px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
} 
.animation-image{
    width: 100%;
}
 .moving-image{
     width: 50%;
    padding-left: 100px;
    transition: 1s;
    margin-top: -10%;
    /* margin-left: 16rem; */
 }
 .header-content .animation-image{
    animation-name: top-to-buttom;
    position: absolute;
    animation-duration: 8s;
    animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-direction: reverse;
   animation-play-state: initial;
} 
 @keyframes top-to-buttom{ 
     0%{ 
         width: 200px; 
    }
     100%{ 
         width: 300px; 
    }

}   

.header-button .header-btn {
background: #0BB95D;
 border-radius: 10px; 
 padding: 1rem 2rem 1rem 3rem; 
margin-left: 20px;
 color: white; 
font-weight: 500;
cursor: pointer;
margin-top: 70px; 
 margin-bottom: 250px;  
 border: none; 
 text-transform: capitalize;
}
.header-button{
    margin-top: -100px;
}

section {
    width: 100%;
    height:90px;
    background-color: white;
    margin-top: 10%;
}
section .section-h1{
    font-family: Reckless Neue;  
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0px;
     text-align: center;

}
section .section-p{
    font-family: Reckless Neue;
    font-size: 24px;
     font-weight: 400;
     line-height: 34px;
     letter-spacing: 0.20000000298023224px;
     text-align: center;

}
#icons{
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -10%;
    background: #0A1E25;  
}
#icons .google{
    width: 40px;
}
#icons .icons-image{
    width: 100%;
}   


#fund{
    width: 100%;
    height: 100%;
    background: #F1FFFF; 
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
     margin-bottom: -10%;
     padding-left: 10%;
}
#fund .fund-image{
    width: 50%;
}
.fund-text{
    font-family: Reckless Neue;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    padding-right: 10%;
    letter-spacing: 0.01em;
    margin-top: 16rem;
    
}
 .fund-para{
font-family: Reckless Neue;
font-size: 20px;
font-weight: 400;
padding-right: 10%;
line-height: 34px;
letter-spacing: 0.03em;
text-align: left;

}

    


#pro-plan{
    background: url(./IMAGES/second-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding-top: 10%;
    margin-bottom: 30%;
      
}
.rgb-text{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: center;
    padding-top: 10%;
    position: relative;
    width: 400px;
    height: 600px;
    justify-content: center;
    background: #E9F5D0;
}
.h2-pro{
    font-family: Reckless Neue;
    font-size: 24px; 
    margin-top: -80px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
    
} 
.p-pro{
font-family: Reckless Neue;
font-size: 20px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.03em;
text-align: center;
color: #0F242080;
}
#p-pro{
    font-family: Reckless Neue;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #0F242080;  
}
.doller{
font-family: Reckless Neue;
font-size: 40px;
font-weight: 700;
margin-top: 50px;
line-height: 80px;
letter-spacing: 0.03em;
text-align: center;

}
.invested-doller{
    
    font-family: Reckless Neue;
    font-size: 20px; 
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
}
.year{
    font-size: 20px;
    font-family: Reckless Neue;
}
.p-gap{
    margin-top: 10px;
    
    font-family: Reckless Neue;
    font-size: 20px; 
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: center;
}
#pro-plan-btn{
 margin-top: 30% ;
}
.invested-btn{
height: 50px;
width: 150px;
color: white;
left: 549.4607543945312px;
top: 2804.962890625px;
border-radius: 10px;
background: #0F2420;
}

#frequents{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: -130px;
    color: black;
}
#frequents .frequents-h1{
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: Reckless Neue;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
#frequents .frequents-p{
    padding-bottom: 50px;
    text-align: center;
    padding-bottom: 4rem;
    font-size: 20px;
    font-family: Reckless Neue;
}
.list-item{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 20%;

}
li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    
}
li img{
    width: 10px;
}
.hide{
    display: none;
    padding: 1rem 2rem 1rem 1rem;
}
.hide.active{
    display: block;
    
}
.second-hide{
    display: none;
    padding: 1rem 2rem 1rem 1rem;
}
.second-hide.active1{
    display: block;
}
.third-hide{
    display: none;
    padding: 1rem 2rem 1rem 1rem;
}
.third-hide.active2{
    display: block;
}
.fourth-hide{
  display: none; 
  padding: 1rem 2rem 1rem 1rem; 
}
.fourth-hide.active3{
    display: block;
}
.fifth-hide{
    display: none;
    padding: 1rem 2rem 1rem 1rem;
}
.fifth-hide.active4{
    display: block;
}

#tripple-image{
    background: #F5F5F5;
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 15%;
    border-radius: 3rem;
    margin-bottom: 20%;
}

#tripple-image img{
    width: 120px;

}
.tripple-flex{
padding-top: 40px;
padding-bottom: 40px;
height: 56px;
width: 120px;
margin: auto;

}
#tripple-image h1{
font-family: Reckless Neue;
font-size: 20px;
padding-top: 30px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}
#tripple-image p{
    padding-top: 20px;
    font-family: Reckless Neue;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
 #tripple-btn {
margin:  auto;
display: flex;
justify-content: center;
        
 }
#tripple-btn .tripple-btn{
    background-color: #0BB95a;
    color: white;
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 8px;
    text-align: center;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}

.svg-leave{
    width: 36.26px;
}
.svg-logo{
    width: 109.32px;
}
footer{
    background: #0A2229;
    width: 100%;
    height: 100%;
    margin-bottom: -50%;
    

}
.all-footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.logo-svg{ 
    display: flex;
    justify-content: inherit;
    padding-top: 50px;
    padding: 50px;
} 
.ready{ 
     display: flex; 
    justify-content: inherit; 
    gap: 20px; 
    padding-top: 50px; 
    
 }
.ready h2{
font-family: Reckless Neue;
font-size: 22px;
color: white;
text-transform: capitalize ;
margin-bottom: 30px;  
font-weight: 600;
line-height: 26px;
text-align: left; 

}
 .footer-btn{
    background: #0BB95D;
     border: none;
     cursor: pointer;
     padding: 1rem 2rem 1rem 3rem;
     color: white;
      border-radius: 0.5rem;
    
     
}  
hr{
    width: 90%;
    margin: auto;
    margin-top: -40px;
    align-items: center;
}
.footer-icon{
    display: flex;
    justify-content: inherit;
    gap: 20px;
    margin-top: 50px;
    padding-left: 50px;
    color: white;
}
.term-condition{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 50px;
    color: white;
    padding-right: 40px;
    font-family: Reckless Neue;
      font-size: 25px;
       font-weight: 400;
       line-height: 18px;
     letter-spacing: -0.20454545319080353px;

}


/* MOBILE SCREEN SIZES */
@media only screen and (max-width: 600px) {
    nav, .wraper{
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: none;
        background: #282a35 ; 
      }  
     .logo img{
         display: flex;
         justify-content: flex-start;
        
     }  
     img{
         width: 80%;
     }
    
    .btn .nav-btn{
        display: flex;
        justify-content: flex-end;
        appearance: button;
        background-color: #0A1E25;
        background-image: none;
        background-color: none;
        padding: 1rem 2rem 0.5rem 2rem;
        margin-right: 30px;
        border: 1px solid white;
        border-radius: 0.375rem;
        color: white;
        font-family: Eudoxus Sans;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25rem; 
        text-transform: capitalize;
        text-align: center;
        cursor: pointer; 
    
     } 
     
    .btn .nav-btn:hover{
        opacity: 1;
       
    } 
        
    /* header */
    header{
    
        background: #0A1E25; 
        width: 100%;
        height: 100%;
        }
        .header-content{
            display: flex;
            justify-content: left;
            padding: 20px;
            display: block;
            
        }
        header .header-h1{
        color: #F5F5EB;
        display: flex;
        font-family: Reckless Neue;
        font-size: 2rem;
        font-weight: 700;
        line-height: 55px;
        text-align: left; 
        display: block;
        
        }
        header .header-p{
        color: #F5F5EB;
        padding: 20px;
        font-family: Reckless Neue;
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        margin-top: -40px;
        letter-spacing: 0px;
        text-align: left;
        } 
        
        
          .moving-image{
             width: 50%;
            padding-left: 100px;
            transition: 1s;
            margin-top: -10%;
            display: none; 
         }
         .header-content .animation-image{
            animation-name: top-to-buttom;
            position: absolute;
            animation-duration: 8s;
            animation-iteration-count: infinite;
           animation-timing-function: ease-in-out;
           animation-delay: 0s;
           animation-direction: reverse;
           animation-play-state: initial;
           display: none;
        }      
        
        .header-button .header-btn {
        background: #0BB95D;
         border-radius: 10px; 
         padding: 1rem 2rem 1rem 3rem; 
        margin-left: 20px;
         color: white; 
        font-weight: 500;
        cursor: pointer;
        margin-top: 70px; 
         margin-bottom: 250px;  
         border: none; 
         text-transform: capitalize;
        }
        .header-button{
            margin-top: -80px;
            margin-bottom: -80px;
            
        }
        section {
            width: 100%;
            height: 100%;
            background-color: white;
            margin-top: 10%;
        }
        section .section-h1{
            font-family: Reckless Neue;  
            font-size: 38px;
            font-weight: 700;
            padding: 20px;
            line-height: 67px;
            letter-spacing: 0px;
             text-align: center;
        
        }
        section .section-p{
            font-family: Reckless Neue;
            font-size: 18px;
             font-weight: 400;
             padding: 30px;
             line-height: 34px;
             text-align: center;
             margin-top: -20px;
        
        }
        #icons{
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: space-between;
            gap: 40%;
            padding: 20px;
            margin-bottom: -10%;
            background: #0A1E25;  
            overflow: scroll;
        }
        #icons .google{
            width: 50px;
        }
        #icons .facebook{
            width: 50px;
        }
        #icons .twitter{
            width: 50px;
        }
        #icons .amazon{
            width: 100px;
        }
        #icons .apple{
            width: 50px;
        }

        #icons .icons-image{
            width: 100%;
        } 
        
        
        #fund{
            width: 100%;
            height: 100%;
            background: #F1FFFF; 
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 10%;
            padding-bottom: 10%;
             margin-bottom: -10%;
             padding-left: 10%;
        }
        #fund .fund-image{
            width: 700px;
        }
        .fund-enclose{
            margin-top: -50%;
            margin-bottom: 10%;
        }
        .fund-text{
            font-family: Reckless Neue;
            font-size: 48px;
            font-weight: 400;
            line-height: 64px;
            padding-right: 10%;
            letter-spacing: 0.01em;
            /* margin-top: 16rem; */
            
        }
         .fund-para{
        font-family: Reckless Neue;
        font-size: 20px;
        font-weight: 400;
        padding-right: 10%;
        line-height: 34px;
        letter-spacing: 0.03em;
        text-align: left;
        
        }


        #pro-plan{
            background: url(./IMAGES/second-background.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 500px;
            padding-top: 10%;
            margin-bottom: 30%;
              
        }
        .rgb-text{
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            align-items: center;
            padding-top: 10%;
            position: relative;
            width: 300px;
            height: 600px;
            justify-content: center;
            background: #E9F5D0;
        }
        .h2-pro{
            font-family: Reckless Neue;
            font-size: 24px; 
            margin-top: -30px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.01em;
            text-align: center;
            
        } 
        .p-pro{
        font-family: Reckless Neue;
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #0F242080;
        }
        #p-pro{
            font-family: Reckless Neue;
            font-size: 20px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.03em;
            text-align: center;
            color: #0F242080;  
        }
        .doller{
        font-family: Reckless Neue;
        font-size: 40px;
        font-weight: 700;
        margin-top: 50px;
        line-height: 80px;
        letter-spacing: 0.03em;
        text-align: center;
        
        }
        .invested-doller{
            
            font-family: Reckless Neue;
            font-size: 20px; 
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.01em;
            text-align: center;
        }
        .year{
            font-size: 20px;
            font-family: Reckless Neue;
        }
        .p-gap{
            /* margin-top: 10px; */
            margin-bottom: 20px;
            
            font-family: Reckless Neue;
            font-size: 20px; 
            font-weight: 600;
            line-height: 36px;
            letter-spacing: 0.01em;
            text-align: center;
        }
        #pro-plan-btn{
         margin-bottom: 30% ;
        }
        .invested-btn{
        height: 50px;
        width: 150px;
        color: white;
        left: 549.4607543945312px;
        top: 2804.962890625px;
        border-radius: 10px;
        background: #0F2420;
        }



        #frequents{
            width: 100%;
            height: 100%;
            padding-top: 49px;
            margin-top: 30%;
            margin-bottom: 130px;
            color: black;
        }
        #frequents .frequents-h1{
            padding-top: 40px;
            margin-top: 10%;
            padding-bottom: 10px;
            font-family: Reckless Neue;
            font-size: 25px;
            font-weight: 700;
            text-align: center;
        }
        #frequents .frequents-p{
            padding-bottom: 50px;
            text-align: center;
            padding-bottom: 4rem;
            font-size: 18px;
            font-family: Reckless Neue;
        }
        .list-item{
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            gap: 20%;
            position: relative;
        
        }
        li{
            list-style: none;
            padding: 10px;
            cursor: pointer;
            
        }
        li img{
            width: 20px;
        }
        .hide{
            display: none;
            padding: 10px;
        }
        .hide.active{
            display: block;
            
        }
        .second-hide{
            display: none;
            padding: 1rem 2rem 1rem 1rem;
        }
        .second-hide.active1{
            display: block;
        }
        .third-hide{
            display: none;
            padding: 1rem 2rem 1rem 1rem;
        }
        .third-hide.active2{
            display: block;
        }
        .fourth-hide{
          display: none; 
          padding: 1rem 2rem 1rem 1rem; 
        }
        .fourth-hide.active3{
            display: block;
        }
        .fifth-hide{
            display: none;
            padding: 1rem 2rem 1rem 1rem;
        }
        .fifth-hide.active4{
            display: block;
        }
        
        
        #tripple-image img{
            width: 120px;
        
        }
        .tripple-flex{
        padding-top: 40px;
        padding-bottom: 40px;
        height: 56px;
        width: 120px;
        margin: auto;
        
        }
        #tripple-image h1{
        font-family: Reckless Neue;
        font-size: 20px;
        padding-top: 30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        
        }
        #tripple-image p{
            padding-top: 20px;
            font-family: Reckless Neue;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        
        }
         #tripple-btn {
        margin:  auto;
        display: flex;
        justify-content: center;
                
         }
        #tripple-btn .tripple-btn{
            background-color: #0BB95a;
            color: white;
            padding: 1rem 2rem 1rem 3rem;
            border-radius: 8px;
            text-align: center;
            margin-top: 1rem;
            border: none;
            cursor: pointer;
        }




        

.svg-leave{
    width: 50px;
}
.svg-logo{
    width: 100px;
}
footer{
    background: #0A2229;
    width: 100%;
    height: 100%;
    margin-bottom: -100px;

    

}
.all-footer{
    display: block;
    justify-content: left;
 } 
.logo-svg{ 
    display: flex;
    margin-left: -65px;
    /* justify-content: left; */
    margin-top: -40px;
    /* padding: 50px; */
} 
.ready{ 
     display: block; 
    justify-content: inherit; 
    gap: 20px; 
    padding-top: 50px; 

    
 }
.ready .ready-h2{
font-family: Reckless Neue;
font-size: 20px;
color: white;
text-transform: capitalize ; 
margin-top: -70px;
font-weight: 600;
margin-left: -20px;
padding: 10px;
line-height: 26px;
text-align: left; 

}
 .footer-btn{
    background: #0BB95D;
     border: none;
     cursor: pointer;
     padding: 1rem 2rem 1rem 3rem;
     color: white;
      border-radius: 0.5rem;
      margin-bottom: 10%;
    
     
}  
hr{
    width: 90%;
    margin: auto;
    margin-top: -40px;
    align-items: center;
}
.footer-icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
    gap: 40px;
    color: white;
    margin-bottom: 120%;
}
.term-condition{
    padding: 10px;
    padding-bottom: 50px;
    color: white;
    margin-top: -125%;
    display: block;
    font-family: Reckless Neue;
      font-size: 20px;
       font-weight: 400;
       line-height: 18px;

}
.p-term{
    padding: 10px;
    margin-top: -20%;
}


            
        
        
        
    }
        







    